{% extends "layouts/default.html" %}

{% block title %} Overview {% endblock title %}

{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/css/suggestags.css">
    <link href="/static/assets/css/dataTables.buttons.min.css" rel="stylesheet">
    <link href="/static/assets/css/dataTables.contextualActions.min.css" rel="stylesheet">
    <link href="/static/assets/css/dataTables.select.min.css" rel="stylesheet">
    <link href="/static/assets/css/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/assets/css/dataTables.searchBuilder.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

    {{ form.hidden_tag() }}
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <div class="card-title" id="overviewTableTitle">Open cases</div>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-sm btn-outline-black float-right" onclick="get_cases_overview(false);">
                                        Refresh
                                    </button>

                              <div class="selectgroup float-right mt--1">
                                    <div class="form-check float-right">
                                         <label class="form-check-label">
                                             <input class="form-check-input" type="checkbox" id="overviewLoadClosedCase">
                                                 <span class="form-check-sign"> Show closed cases
                                                 </span>
                                         </label>
                                    </div>

                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" id="overview_table_wrapper">

                                                                    <span id="table_buttons"></span>
                                <table class="table display wrap col-border table-striped table-hover" width="100%"
                                        cellspacing="0" id="overview_table">
                                    <thead>
                                        <tr>
                                            <th>Outcome</th>
                                            <th>Case ID</th>
                                            <th>Title</th>
                                            <th>Customer</th>
                                            <th>Classification</th>
                                            <th>State</th>
                                            <th>Tags</th>
                                            <th>Open since</th>
                                            <th>Open date</th>
                                            <th>Tasks</th>
                                            <th>Owner</th>
                                            <th>Severity</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Title</th>
                                            <th>Customer</th>
                                            <th>Classification</th>
                                            <th>State</th>
                                            <th>Tags</th>
                                            <th>Open since</th>
                                            <th>Open date</th>
                                            <th>Tasks</th>
                                            <th>Owner</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-case-focus" tabindex="-1" role="dialog" id="caseViewModal" data-backdrop="true">
            <div class="modal-xl modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col md-12">
                            <div class="row">
                                <div class="col align-self-center">
                                    <h4 class="modal-title mr-4">Case</h4>
                                    <small><a class="text-muted modal-subtitle"></a></small>
                                </div>
                                <div class="col">
                                    <div class="row float-right">
                                        <button type="button" class="pull-right btn bg-transparent" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true"><i class="fa fa-times"></i></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-body">
                        <div class="container col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block javascripts %}

    <script src="/static/assets/js/iris/datatablesUtils.js"></script>
    <script src="/static/assets/js/plugin/datatables/dataTables.responsive.min.js"></script>
    <script src="/static/assets/js/plugin/datatables/dataTables.searchBuilder.js"></script>
    <script src="/static/assets/js/plugin/datatables/dataTables.dateTime.min.js"></script>
    <script src="/static/assets/js/plugin/datatables/dataTables.searchBuilder.bs4.js"></script>
    <script src="/static/assets/js/iris/overview.js"></script>

{% endblock javascripts %}